<div class="grid-container">
  <div class="card">
    <img
      class="card-img-top"
      src="../../images/moonarslide.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text" id="tourGoa">MUNNAR</p>
      <h5>PACKAGE :₹5000/</h5>
      <h5>DAYS: 3DAYS/2NIGHTS</h5>
      <h5>PRICE:15000/DAY<span style="color: red">(GST+9%)</span></h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-header text-center">
    <h1 class="text-dark">BOOK-UP</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="bookup" (ngSubmit)="ticketBookform(this.bookup.value)">
      <label for="first_Name" class="text-dark">Name :</label>
      <input
        type="text"
        formControlName="first_name"
        class="form-control"
        placeholder="Enter First Name"
      />
      <span
        class="text-danger"
        *ngIf="
          bookup.controls['first_name'].touched &&
          bookup.hasError('required', 'first_name')
        "
        >*Name is required
      </span>

      <div class="form-group">
        <label for="mobileNumber" class="text-dark">MobileNumber:</label>
        <input
          type="text"
          formControlName="mobileNumber"
          class="form-control"
          placeholder="Enter mobile number"
          pattern="^[+0]{0,2}(91)?[0-9]{10}$"
          minlength="10"
          maxlength="10"
        />
        <span
          class="text-danger"
          *ngIf="
            bookup.controls['mobileNumber'].touched &&
            bookup.hasError('required', 'mobileNumber')
          "
          >*mobile Number is required
        </span>
        <span
          class="text-danger"
          *ngIf="bookup.hasError('pattern', 'mobileNumber')"
          >*Contact number should not contains chars!!
        </span>
      </div>
      <div class="form-group">
        <label for="DATE" class="text-dark"> DATE</label>
        <input
          type="date"
          formControlName="date"
          class="form-control"
          placeholder="Enter  the date"
          min="{{ traveldata }}"
        />
        <span
          class="text-danger"
          *ngIf="
            bookup.controls['date'].touched &&
            bookup.hasError('required', 'date')
          "
          >*DATE is required
        </span>
      </div>

      <div class="form-group">
        <label for="email" class="text-dark">Email :</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter Your Email "
          pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
        />
        <span
          class="text-danger"
          *ngIf="
            bookup.controls['email'].touched &&
            bookup.hasError('pattern', 'email')
          "
          >*Not Valid Email
        </span>
      </div>

      <div class="form-group">
        <label for="aadhar" class="text-dark">Aadhar Number :</label>
        <input
          type="number"
          formControlName="aadhar"
          class="form-control"
          placeholder="xxxx-xxxx-xxxx"
          pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
          minlength="12"
          maxlength="12"
        />
        <span
          class="text-danger"
          *ngIf="
            bookup.controls['aadhar'].touched &&
            bookup.hasError('required', 'aadhar')
          "
          >*Aadhar is required
        </span>
        <span class="text-danger" *ngIf="bookup.hasError('pattern', 'aadhar')"
          >*Aadhar no have must 12 numbers
        </span>
        <span class="text-danger" *ngIf="bookup.hasError('maxlength', 'aadhar')"
          >*no have must 12 numbers
        </span>
      </div>

      <div class="form-group">
        <label for="place" class="text-dark">PLACE :</label>
        <br />
        <select
          name="place"
          formControlName="place"
          placeholder="enter the place"
          id="inputplace"
        >
          <option value="maldives">Madivies</option>
        </select>
      </div>
      <div class="form-group">
        <label for="file" class="text-dark">IDENTITY file :</label>
        <input
          type="file"
          formControlName="file"
          class="form-control"
          placeholder="Put a file"
        />
        <span
          class="text-danger"
          *ngIf="
            bookup.controls['file'].dirty && bookup.hasError('required', 'file')
          "
          >*id proof is required
        </span>
      </div>
      <div class="button text-center">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!bookup.valid"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
