<div class="head-content">
    <span class="form-outline">
        <input type="search" [(ngModel)]="search" class="form-control mt-5 search" placeholder="Enter Your Data" /></span>
    </div>
    <span><em class="fa fa-search" aria-hidden="true"(click)="viewpackage()"></em></span>

<div class="input-group">
<table class="table dark">
    <caption>PACKAGE-TABLE</caption>

    <thead class="text-dark">
        <tr>
            <th scope="col">PLACE</th>
            <th scope="col">PRICE</th>
            <th scope="col">PACKAGE</th>
            <th scope="col">BOOK-Now</th>
            


        </tr>
    </thead>
    <tbody class="text-dark">
        <tr *ngFor="let obj of object|filter:search">
            <td scope="row">{{obj.place}}</td>
            <td scope="row">{{obj.price}}</td>
            <td scope="row">{{obj.package}}</td>
        <td><button type="submit" class="btn btn-primary"(click)="deletehotel(obj,obj)">delete</button></td>
        </tr>
    </tbody>
</table>