.container.mt-5{
    width:40%;
}
.text-dar{
    background-color: rebeccapurple;
}
div.card-header.text-center{
    background-color:rebeccapurple ;
 }
 label{
     color:black;

 }
 h1.text-light{
     font-size:26px;
 }
 .button.text-center{
    margin-left: 3%;
    margin-top: 18px;
}