<table class="table bg-dark" aria-label="flighttable" style="padding: 10px">
  <thead class="text-light">
    <tr>
      <th scope="col">FLIGHT</th>
      <th scope="col">Seat</th>
      <th scope="col">from</th>
      <th scope="col">To</th>
      <th scope="col">BOOK</th>

    </tr>
  </thead>
  <tbody class="text-light" >
    <tr *ngFor="let obj of object1" >
      <td>{{ obj.flightName}}</td>
      <td>{{ obj.seat }}</td>
      <td>{{ obj.from }}</td>
      <td>{{ obj.to }}</td>
      <td><button class="btn-btn btn-primary" routerLink="/flights/book-flight">BOOK</button></td>
    </tr>
  </tbody>
</table>
