.label{
    /* color:hotpink; */
    font-size: large;
}
span{
    color:white;
    font-size: large;
}
.container{
    background-color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: outset;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width:50%;
}
.btn.btn.btn-success{
margin-left:-5px;
background-color: brown;
margin-bottom: 30px;
margin-top: 30px;

}
