<div id="print" class="container">
    <h2>TRAVEL.COM</h2>
    <p>7 Brilliant reasons travel should be your one-stop-shop! Book Flights,
        Hotels, Trains, Buses, Cruise and Holiday Packages On travel.com, you can
        tailor your trip from end-to-end by scouring suitable flights and making
        your flight booking before proceeding with your hotel bookings .
        travel.com</p>
        <em class="fa fa-ticket" style="font-size:36px"></em>
  <div class="name">
    <span class="label">NAME:</span>
    <span>{{ name }}</span>
  </div>

  <div class="mail">
    <span class="label">Mail:</span>
    <span>{{ email }}</span>
  </div>
  <div class="place">
    <span class="label">Place:</span>
    <span>{{ place }}</span>
  </div>
  <div class="date">
    <span class="label">DATE:</span>
    <span>{{ date }}</span>
  </div>
  <div class="MobileNumber">
    <span class="label">MobileNumber:</span>
    <span>{{ mobileNumber }}</span>
  </div>
  <div class="aadhar">
    <span class="label">Id number:</span>
    <span>{{ aadhar }}</span>
  </div>

  <div class="Confirmed">
    <span class="label">Status:</span>
    <span>Confirmed</span>
  </div>
</div>
<div class="center">
<button type="button" class="btn btn-success"(click)="openPdf()">print</button>

</div>

