<div class="container">
    <h2>TRAVEL.COM</h2>
  <div class="name">
    <span class="label">NAME:</span>
    <span>{{ name }}</span>
  </div>

  <div class="mail">
    <span class="label">Mail:</span>
    <span>{{ email }}</span>
  </div>
  <div class="place">
    <span class="label">Place:</span>
    <span>{{ place }}</span>
  </div>
  <div class="date">
    <span class="label">DATE:</span>
    <span>{{ date }}</span>
  </div>

  <div class="Confirmed">
    <span class="label">Status:</span>
    <span>Confirmed</span>
  </div>
  <button type="btn-btn success"(click)="print()">print</button>
</div>
