<div class="body">
    <div class="home_gif">
      <img src="../../images/Kerala__banner.jpg" alt="homeimg">
    </div>
    <div class="heading">
     <h2 style="color:red">PACKAGES</h2> 
    </div>
    <div class="grid-container">
      <div class="card"  >
        <img class="card-img-top" src="../../images/GOA.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-text" id="tourGoa" >GOA</h3>
          <p>PACKAGE :₹10000/</p>
          <button type="button" id="button1" class="btn btn-success" (click)="goToPage('tourgoa')">BOOK-PACKAGE</button>
        </div>
      </div>
      <div class="card" >
        <img class="card-img-top" src="../../images/moonarslide.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-text">MUNAR</h3>
          <p>PACKAGE : ₹8000/</p>
          <button type="button" class="btn btn-success" id="button2"(click)="goToPage1('tourmunnar')">BOOK-PACKAGE</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../images/maldives2Amaya Kuda Aerial View3.webp" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-text">MALDIVES</h3>
          <p>PACKAGE : ₹90000/</p>
          <button type="button" class="btn btn-success"id="button3" (click)="goToPage2('maldives')">BOOK-PACKAGE</button>
  
  
  
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../images/honeymoondarglin.jpg">
        <div class="card-body">
          <h3 class="card-text">DARJEELING</h3>
          <p>PACKAGE : ₹3000/</p>
          <button type="button" class="btn btn-success" id="button4" (click)="goToPage3('tourdarjeeling')">BOOK-PACKAGE</button>
  
  
  
        </div>
      </div> 
    </div>
    <hr>
    <div class="heading">
      <h2 style="color:red">FAMOUS IN  INDIA</h2>
    </div>
    <div class="grid-container">
       <div class="grid-image">
        <img src="../../images/homepagetaj.jpg" alt="taj">
        <h4>TAJMAHAL</h4>
      </div> 
      <div class="grid-image">
        <img src="../../images/golde_temple.jpg" alt="golden_temple"> 
        <h4>GOLDEN TEMPLE</h4>
  
      </div>
      <div class="grid-image">
        <img src="../../images/newdelhi.jpg" alt="newdelhi">
        <h4>New-Delhi</h4>
  
      </div>
  </div>  
  <hr style="margin-top:-70px;">
  <div>
  <div class="heading">
    <h2>HOTELS</h2></div>
    <div class="column">
      <div class="card">
         <img src="../../images/hotel2.webp" class="hotelimg" >
        <h3>CORNER RESORT
        </h3>
        <button type="button" class="btn btn-success" id="buttonhotel" (click)="goToPageHotel('hotel')">BOOK-PACKAGE</button>
  </div>
  </div>
  
    <div class="column">
      <div class="card">
         <img src="../../images/maldive_hotel1.webp"class="hotelimg" alt="hotel">
        <h3>METRO-HOTEL
        </h3>
        <button type="button" class="btn btn-success" id="buttonhotel" (click)="goToPageHotel('hotel')">BOOK-PACKAGE</button>
  </div>
  </div>
  
    <div class="column">
      <div class="card">
         <img src="../../images/mooanr hotel1.jpg" class="hotelimg"alt="hotel" >
        <h3>VIEW-POINT RESORT
        </h3>
        <button type="button" class="btn btn-success" id="buttonhotel" (click)="goToPageHotel('hotel')">BOOK-PACKAGE</button>
  
        
  </div>
  </div>
  <div class="column">
    <div class="card">
       <img src="../../images/metropolitican spa.webp"class="hotelimg" alt="mterohotel">
      <h3>MAHE-RESORT
      </h3>
      <button type="button" class="btn btn-success" id="buttonhotel" (click)="goToPageHotel('hotel')">BOOK-PACKAGE</button>
  
      
  </div>
  </div>
  </div>
  <hr>
  <div class="section-5">
    <div class="container">
      <hr>
      <div>
    <h4 class="h4heading" >PRODUCT OFFERING</h4>
  </div>
    <p >Flights, International Flights, Charter Flights, Hotels, International Hotels, Homestays and Villas, Activities, Holidays In India, International Holidays,
       Book Hotels From UAE, myBiz for SME Travel, Book Online Cabs, Book Bus Tickets, Book Train Tickets, Cheap Tickets to India, Book Flights From US, Book Flights From UAE, Trip Planner, Gift Cards, Trip Money, Trip Ideas, Travel Blog, PNR Status, travel Advertising Solutions, One Way Cab
    </p>
    <h6 style="color:red">ABOUT THE SITE</h6>
    <p>Customer Support, Payment Security, Privacy Policy, User Agreement, Terms of Service, More Offices,
       Make A Payment, Work From Home</p>
  </div>
  <div class="why-us" style="color:rebeccapurple;background-color: rgb(181, 184, 190);">
   <p class="home-highlight">Why book with travel.com?
  7 Brilliant reasons travel should be your one-stop-shop!
  
  Book Flights, Hotels, Trains, Buses, Cruise and Holiday Packages
  On travel.com, you can tailor your trip from end-to-end by scouring suitable flights and making your flight booking before proceeding with your hotel bookings
  . travel’s vast hotel repository will see you through this process seamlessly. Any intervening journey can be conveniently planned by searching up relevant train connectivity and making an IRCTC ticket booking. Look up well-researched holiday packages, sift through cruise packages and finalise
   your entire trip on just one platform.</p>
  </div>
  </div>
  <app-footer></app-footer>
  
    
      
  
