<div class="grid-container">
    <div class="card">
      <img class="card-img-top" src="../../images/maldive_hotel1.webp" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" id="tourGoa" >HOTEL</p>
        <button type="button" class="btn btn-success" (click)="goToPagehotel('viewhotel')">HOTEL</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../images/travel-tours-ads-banner-50-260nw-1413042809.webp" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">VIEW PASSANGER</p>
        <button type="button" class="btn btn-success" (click)="goToPageAddPackage('admin')">ADD-PACKAGE</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../images/traveladmin.jpg" alt="travel">
      <div class="card-body">
        <p class="card-text">ADD-PACKAGE</p>
        <button type="button" class="btn btn-success" (click)="goToPagepassanger('viewpassanger')">PASSANGER</button>
        
       

      </div>
    </div> 
  </div>
  