<div class="grid-container" style="margin-left: 12px; margin: right 30px;">
    <div class="card">
      <img class="card-img-top" src="../../images/maldive_hotel1.webp" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" id="tourGoa" >HOTEL</p>
        <button type="button" class="btn btn-success" (click)="goToPagehotel('viewhotel')" style="margin-top:22%">hotel</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../images/pack.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">VIEW PASSANGER</p>
        <button type="button" class="btn btn-success" (click)="goToPageAddPackage('admin')"style="margin-top: 14%">BOOK-PACKAGE</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../images/pakpass.jpg">
      <div class="card-body">
        <p class="card-text">ADD-PACKAGE</p>
        <button type="button" class="btn btn-success" (click)="goToPagepassanger('viewpassanger')"style="margin-top:19%">PASSANGER</button>
        
       

      </div>
    </div> 
  </div>

