#inputplace{
    width:99%;
}
div.card.mx-auto{
    width:50%;
}
div.button.text-center{
padding:8px;
}
/* button.btn.btn-primary{
    padding:10px;
} */
th{
    color: dodgerblue;
    background-color:rgb(67, 215, 215);
    margin-bottom:45%;
    text-decoration: none;
}
div.card-header.text-center{
    background-color: aquamarine;
}
tr:nth-child(odd) {
    background-color: dodgerblue;
    color:white; 
}

