.container mt-5{
    position:relative;
    left:400px;
    width:100vw;
    background-color: rgb(198, 155, 238);
}
#inputplace{
    width:35vw;
    height:30px;
    border-color: aqua;
}
div.container.mt-5{
    width:40%;
}
.button.btn-primary{
    margin-top:34px;
}
tr:nth-child(odd) {
    background-color: dodgerblue;
    color:white; 
}
th{
    background-color: white;
    color:black;
}
select{
    font-size: medium;
}

