<div>
  <div class="why-us" style="color: rebeccapurple">
    <div class="container">
      <h2>Why book with travel.com?</h2>
      <p>
        7 Brilliant reasons travel should be your one-stop-shop! Book Flights,
        Hotels, Trains, Buses, Cruise and Holiday Packages On travel.com, you
        can tailor your trip from end-to-end by scouring suitable flights and
        making your flight booking before proceeding with your hotel bookings .
        travel.com vast hotel repository will see you through this process
        seamlessly. Any intervening journey can be conveniently planned by
        searching up relevant train connectivity and making an IRCTC ticket
        booking. Look up well-researched holiday packages, sift through cruise
        packages and finalise your entire trip on just one platform.
      </p>
    </div>

    <div class="button">
      <button class="btn btn-primary" *ngIf="formShow" (click)="showOff()">
        click to check status
      </button>
    </div>
    <div>
      <button class="btn btn-primary" *ngIf="show" (click)="showOff()">
        BACK TO BOOKING FORM
      </button>
    </div>

    <div class="container mt-5" *ngIf="formShow">
      <div class="card mx-auto">
        <div class="card-header text-center">
          <h1 class="text-dark">BOOK-UP</h1>
        </div>

        <div class="card-body">
          <form [formGroup]="bookup">
            <label for="first_Name" class="text-dark">Name :</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              placeholder="Enter First Name"
              maxlength="15"
            />
            <span
              class="text-danger"
              *ngIf="
                bookup.controls['firstName'].touched &&
                bookup.hasError('required', 'firstName')
              "
              >*Name is required
            </span>

            <div class="form-group">
              <label for="DATE" class="text-dark">DATE</label>
              <input
                type="date"
                formControlName="date"
                class="form-control"
                placeholder="Enter  the date"
                min="{{ maxDate }}"
              />
              <span
                class="text-danger"
                *ngIf="
                  bookup.controls['date'].touched &&
                  bookup.hasError('required', 'date')
                "
                >*date is required
              </span>
            </div>
            <div class="form-group">
              <label for="email" class="text-dark">Email :</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Enter Your Email "
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
              />
              <span
                class="text-danger"
                *ngIf="
                  bookup.controls['email'].touched &&
                  bookup.hasError('required', 'email')
                "
                >*Email is required
              </span>
              <span
                class="text-danger"
                *ngIf="
                  bookup.controls['email'].touched &&
                  bookup.hasError('pattern', 'email')
                "
                >*Not Valid Email
              </span>
            </div>
            <div class="form-group">
              <label for="aadhar" class="text-dark">Aadhar Number :</label>
              <input
                type="number"
                formControlName="aadhar"
                class="form-control"
                placeholder="xxxx-xxxx-xxxx"
                pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
                minlength="12"
                maxlength="12"
              />
              <span
                class="text-danger"
                *ngIf="
                  bookup.controls['aadhar'].touched &&
                  bookup.hasError('required', 'aadhar')
                "
                >*Aadhar is required
              </span>
              <span
                class="text-danger"
                *ngIf="bookup.hasError('pattern', 'aadhar')"
                >*Aadhar no have must 12 numbers
              </span>
              <span
                class="text-danger"
                *ngIf="bookup.hasError('maxlength', 'aadhar')"
                >*no have must 12 numbers
              </span>
            </div>
            <div class="form-group">
              <label for="mobileNumber" class="text-dark">MobileNumber:</label>
              <input
                type="text"
                formControlName="mobileNumber"
                class="form-control"
                placeholder="Enter mobile number"
                pattern="^[+0]{0,2}(91)?[0-9]{10}$"
                minlength="10"
                maxlength="10"
              />
              <span
                class="text-danger"
                *ngIf="
                  bookup.controls['mobileNumber'].touched &&
                  bookup.hasError('required', 'mobileNumber')
                "
                >*mobile Number is required
              </span>
              <span
                class="text-danger"
                *ngIf="bookup.hasError('pattern', 'mobileNumber')"
                >*Contact number should not contains chars!!
              </span>
            </div>

            <div class="form-group">
              <label for="place" class="text-dark">PLACE :</label>
              <br />
              <select
                name="place"
                formControlName="place"
                placeholder="enter the place"
                id="inputplace"
              >
                <option *ngFor="let tour of place">{{ tour.place }}</option>
              </select>
            </div>

            <div class="button text-center">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!bookup.valid"
                (click)="repeatValidation(this.bookup.value)"
              >
               BOOK
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="input-group" *ngIf="show">
      <div class="form-outline">
        <input
          id="search"
          type="search"
          [(ngModel)]="search"
          class="form-control mt-5 search"
          placeholder="Enter Your Data"
        />
        <button
          type="submit"
          class="btn btn-primary"
          (click)="displayDetails(this.bookup.value)"
        >
          view status
        </button>
      </div>
      <div class="travel-booking">
        <div *ngIf="show">
          <table class="table bg-light">
            <caption>
              booking
            </caption>
            <thead class="text-dark">
              <tr>
                <th scope="col">Name</th>

                <th scope="col">Email</th>
                <th scope="col">place</th>

                <th scope="col">Date</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody class="text-darkt">
              <tr *ngFor="let obj of object1 | filter: search">
                <td>{{ obj.first_name }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.place }}</td>
                <td>{{ obj.date }}</td>
                <td>Confirmed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
