/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Inspiration&family=Outfit&family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body{
    width:100vw;
    height:100vh;
    position:static;
    overflow-x:hidden;
    background-image: linear-gradient(to right, rgba(141, 209, 236, 0), rgb(241, 220, 220));
    font-family: 'Asap', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
} 
p,label,.text-danger{
    font-size:14px;
}
h3{
    font-size:21px;
}
.btn.btn-success
{
    font-size:15px;
}
.button.text-center{
    font-size:14px;
}
.form-control{
    font-size:14px;
}
h6{
    font-size:23px;
}
th,td{
    font-size:23px
}
