td{
    color:black;
}
.form-outline input{
    width:200%;
}
.form-outline button{
    margin-top: 20px;
}
td{
    padding:5px,12px;
}
form{
    width:50%;
}
.head-content{
    display: inline-block;
}
.fa.fa-search{
    margin-left: 130px;
    font-size: 21px;
}