td{
    color:black;
    padding:5px,12px;
}
.form-outline input{
    width:200%;
}
.form-outline button{
    margin-top: 20px;
}
form{
    width:50%;
}
.head-content{
    display: inline-block;
}
.fa.fa-search{
    margin-left: 130px;
    font-size: 21px;
}
tr:nth-child(odd) {
    background-color: dodgerblue;
    color:white; 
}th{
    color:black;
    background-color:white;
}