<div class="input-group">
  <div class="form-outline">  
    <input
      type="search"
      [(ngModel)]="search"
      class="form-control mt-5 search"
      placeholder="Enter Your Data"
    />
    <button type="submit" class="btn btn-primary" (click)="passangerList()">
      VIEWpackage
    </button>
    <table class="table bg-light" aria-label="passanger-table">
      <thead class="text-dark">
        <tr>
          <th scope="col">Name</th>

          <th scope="col">place</th>
          <th scope="col">Email</th>

          <th scope="col">Date</th>
          <th scope="col">STATUS</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        <tr *ngFor="let obj of object | filter: search">
          <td>{{ obj.first_name }}</td>
          <td>{{ obj.place }}</td>
          <td>{{ obj.email }}</td>
          <td>{{ obj.date }}</td>
          <td>Confirmed</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
